body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(124deg, #186DD2 0%, #293D9F 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo {

width: 50%;
text-align: center;
}
.login-container {

    width:50%
}
.register-text{
    color:white;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 45vh;
    background: #114058 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    border: 1px solid #707070;
    border-radius: 77px;

}
form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    background: #114058 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    border: 1px solid #707070;
    border-radius: 77px;

}

button{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    mix-blend-mode: overlay;
    border: 1px solid #707070;
    border-radius: 32px;
    width: 50%;
    border: none;
    color: black;
    margin: 1em;
    line-height: 2.5em;
}

input {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}
.register-text{
    color:white;
}
form.addcar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 80%;
    background: transparent linear-gradient(124deg, #186DD2 0%, #293D9F 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: luminosity;
    border: 1px solid #707070;
    border-radius: 77px;
    color: white;

}
.login>a{
    width:49%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    mix-blend-mode: overlay;

    color:black;
    margin: 1em;
    line-height: 1.5em;
}
.register>a{
    width:49%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    mix-blend-mode: overlay;

    color:black;
    margin: 1em;
    line-height: 1.5em;
}


::placeholder {
    color:white;
    opacity:1;
}





.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

}
nav{
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(124deg, #186DD2 0%, #293D9F 100%) 0% 0% no-repeat padding-box;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

}

main{
    width:80vw;
}
nav > img{
    width: 80%;
    margin: 2em auto;

}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 1em;

}

li i {
    font-size: 1.5em;
}

.button {
    border: 1px solid white;
    border-radius: 1em;
    text-align: center;
    letter-spacing: 0.8px;
    color:white;
    padding: 0.2em;
    width:80%;
    margin:auto;

}

ul {
    list-style-type: none;
    color:white;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0.8px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
}

li {
    text-align: left;
    margin-bottom: 1em;

}

li:last-child {
    position:absolute;
    bottom: 0;
    width: 100%;

}


.fa, .fas {
    font-weight: 900;
    width:1em;
}

main {
    display:flex;
    flex-direction: column;
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;


}

.add-car-button {
    background: #2E6CD3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;

}
.add-car-button > i {
    padding: 1em;
    margin-top: 0.5em;
}

.search-bar {
    width:60%

}
.search-bar>input {

    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 1.5em;
    width: 100%;
    text-align: center;
    color:gray;
    margin:0;
    box-sizing: border-box;
}

.no-valid {
    border: 3px solid black;
    border-radius: 1em;
    box-shadow: 0 0 0.1em black;
    outline: none;

}
.search-bar{
    margin-top: 0.5em;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
        width: 100vw;
        height:150vh;

    }

    *{
        font-size: 35px;
    }
    .login-container{
        width: 100vw;
    }
    .logo {
        width: 80vw;
    }
    form {
        margin: auto;
        width: 80vw;
    }
    img {
        height: 20em;
        width: 20em;
    }
    form.login{
        height:100%;
    }

    .add-car-button > i {
        padding:0;
        margin-top:0;

    }
    .add-car-button{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .search-bar {
        padding: 0.25em 0 0 0.25em;
    }

}